<div class="container">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark header">
            <tr>
                <th>Username/Email</th>
                <th>No of correct answers</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let details of userdetails">
                <td>{{ details.username }}</td>
                <td>{{ details.correctanscount }}</td>
                <td [ngClass]="{'pass': details.result === 'pass', 'fail': details.result === 'fail'}">{{ details.result }}</td>
            </tr>
        </tbody>
    </table>
</div>
