<div class="container">
    <div class="heading">
        <h4>Read Carefully below instructions before starting the exam:</h4>
    </div>
    <div class="points">
        <ul>
            <li>Total No of Questions: 10</li>
            <li>No negative marking</li>
            <li>Each question carries 1 mark</li>
            <li>Each question has 30 seconds of  time</li>
            <li>There is no option to go the previous question</li>
            <li>If you want to submit the exam click on 'Finish" button</li>
        </ul>
    </div>
    <div class="note">
        <p>Important Note:</p>
        <ul>
            <li>Click on "Continue" button to start the Exam</li>
        </ul>
    </div>
    <div class="footer">
        <button class="btn btn-danger" (click)="NavigateToHome()">Exit</button>
        <button class="btn btn-primary" (click)="NavigateToExam()">Continue</button>
    </div>
</div>

